{{>logout}}
<h1>Klienci</h1>

<h2>Dodaj klienta</h2>
<form action="/clients/add" method="post">
    <div>
        <label for="name">Nazwa</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="street">Ulica</label>
        <input type="text" name="street" id="streen">
    </div>
    <div>
        <label for="city">Miasto</label>
        <input type="text" name="city" id="city">
    </div>
    <div>
        <label for="nip">NIP</label>
        <input type="text" name="nip" id="nip">
    </div>
    <div>
        <button type="submit">Dodaj</button>
    </div>

</form>

<h2>Lista</h2>
<table>
    {{#each clients}}
    <tr>
        <td>ul. {{street}}, {{city}}</td>
        <td>{{nip}}</td>
        <td><a href="/clients/details/{{_id}}">Szczegóły </a></td>
    </tr>
    {{/each}}
</table>