<section>
    <div>Nazwa: {{name}}</div>
    <div>ul. {{street}}, {{city}}</div>
    <div>NIP: {{nip}} </div>
</section>
<section>
    <table>
        
    </table>
</section>

<section>
    <a href="/clients">Powrót</a>
</section>