<h1>Klienci</h1>
<form action="/clients/add" method="post">
    <div>
        <label for="name">Nazwa</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="street">Ulica</label>
        <input type="text" name="street" id="streen">
    </div>
    <div>
        <label for="city">Miasto</label>
        <input type="text" name="city" id="city">
    </div>
    <div>
        <label for="nip">NIP</label>
        <input type="text" name="nip" id="nip">
    </div>
    <div>
        <button type="submit">Wyślij</button>
    </div>

</form>